:root {
  --white: #fff;
  --light-gray: #f5f5f5;
  --gray: #ccc;
  --dark-gray: #333;
  --green: #1fbf4a;
  --blue: #0042aa;
  --red: #db504a;
}

body {
  margin: 0;
  color: var(--dark-gray);
  font: 16px 'Inter', sans-serif;
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 100vh;
}
